/******************/
/* Header */
/******************/

/* header mainly contains logo and navbar */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
    
  background-color: rgb(255, 255, 255);

  flex-wrap: wrap;
  border-bottom: 1px solid #ada8a8;
}
/********/
/* Logo */
/********/

.logo {
  width: 140px;
  padding-left: 0.7em;
}

.title {
  font-style: italic;
  color: #ff5a5f;
}

/**********/
/* Navbar */
/**********/

/* Navbar links */

/* Screen is in 'portrait' orientation (mobile view), hide Navbar (Trips, Contact, Login, Register) */
/* (desktop view is handled in the media query below) */

nav ul{
  display: flex;
  flex-wrap: wrap;
}

header div{
  flex: 1 0 50%;
}

nav{
  flex: 1 0 100%;
}

.logo-item{
  /* flex: 1;  */
  padding-left: 0em;
}

/* .visible {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 auto;
  padding-right: 3rem;
} */

.toggle {
  display: block;
  font-size: 20px;
  text-align: right;
  padding: 0.5em 1em;
  /* margin-top: 0.5em; */
}

.fas {
  color: #ff5a5f;
}

nav{
  display: none;
}

.item{
  width: 100%;
  text-align: right;
  /* display: none; */
}

.active nav{
  display: block;
  /* background-color: #ff5a5f; */
}

/* .new{
  width: 100%;
  text-align: center;
  display: block;
} */

nav a{
  display: block;
  color: #686464;
  padding: 0.5em 1em;
  padding-bottom: 0;
}

nav ul li {
  font-weight: 500;
}

/* hover, active, and current page effects */
nav a:hover {
  color: #68646462;
}
    
nav a:active {
  text-shadow: 2px 2px 8px cadetblue;
}
  
/* .current-page {
  background-image: linear-gradient(cornflowerblue, cadetblue);
} */

/* Screen is in 'landscape' orientation (desktop view) */
@media (orientation: landscape) {
  
  header div{
    flex: auto;
  }

  nav{
    flex: none;
    margin-right: 1em;
  }



  header{
    flex-direction: row;
    justify-content: space-around;   
  }
  /* .logo-item {
    text-align: center;
  } */

  .logo-item {
    /* flex: 2; */
    padding-left: 2.2em;
  }

  nav {
    display: flex;
    flex-direction: row;
    /* flex: 1; */
    align-self: flex-end;
    /* text-align: right; */
  }

  nav a {
    padding: 0.5em 1em;
  }

  .item{
    width: auto;
    text-align: center;
    /* display: block; */
  }
  
  /* Don't show hamburger menu on desktop view */
  .toggle {
    display: none;
    width: 0%;
  }
}






